{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">


        <div class="row login">
            <div class="col-4 left">col-4
                
            </div>
            
            <div class="col-8 right">col-8</div>

        </div>
    
{% endblock %}