@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/menu/menu.scss */
.menu {
  background-color: #1A1A1A;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 56px;
}

/* line 13, ../sass/menu/menu.scss */
.custom-navbar {
  background-color: #1A1A1A;
  height: 68px;
}

/* line 19, ../sass/menu/menu.scss */
.nav-link {
  color: #ffffff !important;
}

/* line 28, ../sass/menu/menu.scss */
.custom-toggler.navbar-toggler {
  border-color: #f7204e;
}

/* line 32, ../sass/menu/menu.scss */
.custom-toggler .navbar-toggler-icon {
  width: 18px !important;
}

/* line 35, ../sass/menu/menu.scss */
.custom-toggler:hover {
  border-color: white;
  background-color: #1A1A1A;
}

/* line 40, ../sass/menu/menu.scss */
#logo_custom {
  margin-top: -6px;
}

/* line 47, ../sass/menu/menu.scss */
.notification {
  padding: 4px;
  margin-right: 11px;
}

/* line 57, ../sass/menu/menu.scss */
.connexion {
  background-color: #197DFF;
  border: 2px solid #197DFF;
  border-radius: 4px;
  color: white;
  padding: 9px;
  margin: 6px;
  font: normal normal bold 13px/15px Product Sans;
  letter-spacing: 0px;
}

/* line 71, ../sass/menu/menu.scss */
a:hover.connexion {
  color: white;
  text-decoration: none;
}

/* line 77, ../sass/menu/menu.scss */
.inscription {
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 9px;
  margin: 6px;
  font: normal normal bold 13px/15px Product Sans;
  letter-spacing: 0px;
}

/* line 90, ../sass/menu/menu.scss */
a:hover.inscription {
  color: white;
  text-decoration: none;
}

/* line 97, ../sass/menu/menu.scss */
.show {
  display: block;
}

/* line 101, ../sass/menu/menu.scss */
.auth .number {
  position: absolute;
  top: -11px;
  font-size: 15px;
  width: 43px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* line 118, ../sass/menu/menu.scss */
.nav-item .paniers {
  margin-left: 23px;
}

/* line 126, ../sass/menu/menu.scss */
.deconnexion a {
  background-color: #f76a88;
}

@media only screen and (max-width: 760px) {
  /* line 133, ../sass/menu/menu.scss */
  #logo_custom {
    width: 50%;
  }

  /* line 136, ../sass/menu/menu.scss */
  .mobile {
    background-color: #1A1A1A;
  }

  /* line 139, ../sass/menu/menu.scss */
  .notification {
    display: none;
  }

  /* line 142, ../sass/menu/menu.scss */
  .identifiant {
    margin-left: 336px;
    margin-top: -36px;
  }

  /* line 146, ../sass/menu/menu.scss */
  .navbar-nav li {
    padding: 12px;
  }

  /* line 149, ../sass/menu/menu.scss */
  .nav-link:hover {
    border-bottom: none;
    border-width: 12px;
  }

  /* line 153, ../sass/menu/menu.scss */
  .tableau-bord {
    margin-top: 198px;
  }

  /* line 156, ../sass/menu/menu.scss */
  .auth {
    padding: 9px;
  }
}
/* line 2, ../sass/commande/liste_commande.scss */
.contenu {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  width: 1160px;
  height: auto;
  margin-top: 27px;
}

/* line 15, ../sass/commande/liste_commande.scss */
.partie1 {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #EAEAEA;
}

/* line 26, ../sass/commande/liste_commande.scss */
.partie1 ul {
  list-style-type: none;
}

/* line 31, ../sass/commande/liste_commande.scss */
.partie1 li {
  float: left;
  width: 11%;
  /*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
  /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
/* line 38, ../sass/commande/liste_commande.scss */
.partie1 ul::after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/commande/liste_commande.scss */
.partie1 a {
  display: block;
  /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: black;
  padding: 7px 0px;
  /*Agrandit le menu et espace la bordure du texte*/
}

/* line 51, ../sass/commande/liste_commande.scss */
.partie1 a:hover {
  color: black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}

/* line 56, ../sass/commande/liste_commande.scss */
.partie2 {
  display: flex;
  background-color: white;
  height: 67px;
  border-bottom: 1px solid #EAEAEA;
}

/* line 64, ../sass/commande/liste_commande.scss */
.span {
  padding: 21px;
  color: #ACACAC;
  font-size: 14px;
}

/* line 71, ../sass/commande/liste_commande.scss */
.span p {
  padding-left: 16px;
}

/* line 83, ../sass/commande/liste_commande.scss */
li.nav-item.dropdown.three {
  list-style: none;
}

/* line 87, ../sass/commande/liste_commande.scss */
.dropdown, .dropup {
  position: relative;
  list-style: none;
  margin-top: -9px;
  /* margin-right: -4px; */
}

/* line 93, ../sass/commande/liste_commande.scss */
.titre {
  margin: 2px;
}

/* line 96, ../sass/commande/liste_commande.scss */
.titre1 {
  text-align: center;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 45px;
  margin-left: -36px;
}

/* line 110, ../sass/commande/liste_commande.scss */
.titre2 {
  text-align: center;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 45px;
}

/* line 123, ../sass/commande/liste_commande.scss */
.partie2 .row {
  width: 100%;
}

/* line 127, ../sass/commande/liste_commande.scss */
.titre2 button {
  background-color: #197DFF;
  color: white;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  font-size: 14px;
}

/* line 139, ../sass/commande/liste_commande.scss */
.table-hover tbody tr:hover {
  outline: none;
  background-color: transparent;
  border: 2px  solid #FF9D19;
}

/* line 145, ../sass/commande/liste_commande.scss */
.table-hover .hover {
  background-color: #197DFF;
}

/* line 156, ../sass/commande/liste_commande.scss */
.pagination .page-item.active .page-link {
  z-index: 1;
  color: #FF9D19;
  background-color: #ffffff;
  border-color: #FF9D19;
}

/* line 163, ../sass/commande/liste_commande.scss */
.pagination .page-item .page-link {
  color: #FF9D19;
  background-color: #ffffff;
}

/* line 169, ../sass/commande/liste_commande.scss */
.pagination .page-item.disabled {
  display: none;
}

/* line 173, ../sass/commande/liste_commande.scss */
.select1 {
  margin-left: 189px;
  margin-top: 21px;
}

/* line 177, ../sass/commande/liste_commande.scss */
.select1 select {
  outline: none;
  padding: 7px;
}

/* line 184, ../sass/commande/liste_commande.scss */
.dropleft .dropdown-toggle.affiche::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/* line 195, ../sass/commande/liste_commande.scss */
.dropleft .affiche::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

/* line 205, ../sass/commande/liste_commande.scss */
.payer {
  border: 2px solid #197DFF;
  border-radius: 4px;
  margin-left: 24px;
  background-color: #197DFF;
  color: white;
  padding: 9px;
}

/* line 214, ../sass/commande/liste_commande.scss */
.payer a::before {
  list-style: none;
  color: white;
}

/* line 1, ../sass/commande/produit.scss */
.contenu1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  height: 150px;
  margin-top: 32px;
}

/* line 14, ../sass/commande/produit.scss */
.menu_produit {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #EAEAEA;
}

/* line 27, ../sass/commande/produit.scss */
.menu_produit ul {
  list-style-type: none;
  margin-bottom: 0;
}

/* line 32, ../sass/commande/produit.scss */
.menu_produit li {
  float: left;
  width: 8%;
  /*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
  /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
/* line 39, ../sass/commande/produit.scss */
.menu_produit ul::after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../sass/commande/produit.scss */
.menu_produit a {
  display: block;
  /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: black;
  padding: 7px 0px;
  /*Agrandit le menu et espace la bordure du texte*/
}

/* line 52, ../sass/commande/produit.scss */
.menu_produit a:hover {
  color: black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}

/* line 60, ../sass/commande/produit.scss */
.prod {
  text-align: left;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 40px;
  margin-left: 179px;
}

/* line 72, ../sass/commande/produit.scss */
.select {
  float: right;
  padding-right: 50px;
  margin-top: -60px;
}

/* line 77, ../sass/commande/produit.scss */
.select select {
  padding: 6px;
  outline: none;
  border-radius: 3px;
  background: white;
}

/* line 87, ../sass/commande/produit.scss */
.contenu3 {
  width: 100%;
  padding-right: 100px;
  padding-left: 125px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

/* line 98, ../sass/commande/produit.scss */
.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 25px;
  padding-left: 69px;
}

/* line 105, ../sass/commande/produit.scss */
.details .btn {
  margin-left: 147px;
}

/* line 109, ../sass/commande/produit.scss */
.produit a {
  margin-top: 38px;
  background-color: #197DFF;
  color: white;
  width: 174px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 215px;
}

/* line 119, ../sass/commande/produit.scss */
.produit button {
  margin-top: 38px;
  background-color: #197DFF;
  color: white;
  width: 174px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 215px;
}

/* line 129, ../sass/commande/produit.scss */
.produits button {
  margin-top: 38px;
  background-color: #197DFF;
  color: white;
  width: 187px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 215px;
}

/* line 140, ../sass/commande/produit.scss */
.produits .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #197DFF;
  border-color: #197DFF;
}

/* line 145, ../sass/commande/produit.scss */
.produits .btn-secondary:hover {
  color: #fff;
  background-color: #197DFF;
  border-color: #197DFF;
}

/* line 154, ../sass/commande/produit.scss */
.cards .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 105px;
  margin-left: 90px;
}

/* line 169, ../sass/commande/produit.scss */
.contenues1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  width: 667px;
  height: 530px;
  margin-top: -19px;
  margin-left: 291px;
  margin-right: 291px;
  padding: 22px;
}

/* line 187, ../sass/commande/produit.scss */
.contenues11 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  width: 667px;
  height: auto;
  margin-top: -19px;
  margin-left: 291px;
  margin-right: 291px;
  padding: 22px;
}

/* line 204, ../sass/commande/produit.scss */
.titres11 {
  margin: 2px;
  margin-top: 53px;
}

/* line 208, ../sass/commande/produit.scss */
.titres12 {
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 13px;
  margin-left: 295px;
}

/* line 220, ../sass/commande/produit.scss */
.titres13 {
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 13px;
  margin-left: 295px;
}

/* line 232, ../sass/commande/produit.scss */
.titres11 a {
  font: normal normal 300 20px/30px Avenir;
  letter-spacing: 0px;
  color: #197DFF;
  opacity: 1;
  margin-top: 0px;
  margin-block-start: 45px;
  margin-left: 289px;
}

/* line 243, ../sass/commande/produit.scss */
.retour1 {
  font: normal normal 300 20px/30px Avenir;
  letter-spacing: 0px;
  color: #197DFF;
  opacity: 1;
  margin-top: 0px;
  margin-block-start: 45px;
  margin-left: 289px;
  padding-left: 119px;
}

/* line 264, ../sass/commande/produit.scss */
.form-groupe {
  margin-bottom: 8px;
  padding-bottom: 15px;
  position: relative;
  width: 613px;
}

/* line 270, ../sass/commande/produit.scss */
.form-groupe ul {
  color: red;
}

/* line 273, ../sass/commande/produit.scss */
.form-groupe input {
  outline: none;
  border: 2px solid #BEBEBE;
  background: transparent;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* line 288, ../sass/commande/produit.scss */
.form-groupe textarea {
  outline: none;
  border: 2px solid #BEBEBE;
  background: transparent;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* line 302, ../sass/commande/produit.scss */
.form-groupe label {
  outline: none;
  color: black;
  display: block;
}

/* line 309, ../sass/commande/produit.scss */
.boutton_ajout {
  float: right;
}

/* line 313, ../sass/commande/produit.scss */
.boutton_ajout a {
  background-color: #197DFF;
  color: white;
  width: 300px;
  height: 32px;
  border-radius: 4px;
  margin-left: 215px;
  padding: 7px 0px;
}

@media (min-width: 1200px) {
  /* line 326, ../sass/commande/produit.scss */
  .container {
    max-width: 1140px;
  }
}
/* line 1, ../sass/commande/tableau_bord.scss */
.taleau {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
}

/* line 8, ../sass/commande/tableau_bord.scss */
.title h5 {
  text-align: left;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 40px;
  margin-left: 179px;
}

/* line 20, ../sass/commande/tableau_bord.scss */
.part1 {
  background-color: #EDEDED;
  height: 341px;
}

/* line 27, ../sass/commande/tableau_bord.scss */
.part2 {
  background-color: white;
  height: 375px;
}

@media screen and (max-width: 760px) {
  /* line 32, ../sass/commande/tableau_bord.scss */
  .title h5 {
    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    justify-content: space-evenly;
    margin-block-start: 40px;
    margin-left: 64px;
  }

  /* line 43, ../sass/commande/tableau_bord.scss */
  .left {
    margin-top: 17px;
  }
}
/* line 2, ../sass/client/catalogue.scss */
.container-fluid {
  background-color: #262626;
  height: auto;
  opacity: 1;
}

/* line 8, ../sass/client/catalogue.scss */
#fluid img {
  width: 1242px;
  position: relative;
  z-index: 1;
}

/* line 14, ../sass/client/catalogue.scss */
.annoce {
  z-index: 2;
  position: absolute;
  top: 264px;
  left: 357px;
  width: 556px;
  height: 149px;
  text-align: center;
  font: normal normal normal 58px/70px Avenir;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

/* line 28, ../sass/client/catalogue.scss */
.contente {
  background-color: #262626;
  width: 100%;
}

/* line 39, ../sass/client/catalogue.scss */
.ensemble.row {
  width: 100%;
  margin-right: -6%;
  align-items: center;
}

/* line 46, ../sass/client/catalogue.scss */
.gauche img {
  top: 581px;
  margin-left: 111px;
  opacity: 1;
}

/* line 52, ../sass/client/catalogue.scss */
.droite img {
  top: 581px;
  margin-left: -15px;
  opacity: 1;
}

/* line 58, ../sass/client/catalogue.scss */
.droite {
  top: 644px;
  left: 876px;
  width: 322px;
  height: 456px;
}

/* line 64, ../sass/client/catalogue.scss */
.milieu img {
  top: 472px;
  width: 322px;
  height: 578px;
  margin-left: 48px;
  opacity: 1;
}

/* line 71, ../sass/client/catalogue.scss */
.milieu {
  top: 472px;
  width: 322px;
  height: 710px;
}

/* line 77, ../sass/client/catalogue.scss */
.ensemble2 h5 {
  top: 1236px;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  text-align: center;
}

/* line 86, ../sass/client/catalogue.scss */
.ensemble2 p {
  top: 1299px;
  left: 442px;
  height: 54px;
  text-align: center;
  font: normal normal normal 20px/30px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.65;
}

/* line 97, ../sass/client/catalogue.scss */
.filter-button-group {
  padding: 15px;
}

/* line 102, ../sass/client/catalogue.scss */
.thumbnail {
  border-radius: 0px;
  border: 0px;
  padding: 0px;
}

/* line 112, ../sass/client/catalogue.scss */
.menu {
  background-color: #1A1A1A;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 56px;
}

/* line 121, ../sass/client/catalogue.scss */
.custom-navbar {
  background-color: #1A1A1A;
}

/* line 126, ../sass/client/catalogue.scss */
.nav-link {
  color: #ffffff !important;
}

/* line 129, ../sass/client/catalogue.scss */
.nav-item:hover {
  border-bottom: 3px solid #FF9D19;
}

/* line 141, ../sass/client/catalogue.scss */
.food_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

/* line 154, ../sass/client/catalogue.scss */
.filters_menu {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 423px;
}

/* line 162, ../sass/client/catalogue.scss */
.filters_menu li {
  padding: 7px 15px;
  cursor: pointer;
}

/* line 168, ../sass/client/catalogue.scss */
.filters_menu li.active {
  border-bottom: 3px solid #FF9D19;
  color: #ffffff;
}

/* line 172, ../sass/client/catalogue.scss */
.filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
}

/* Rotation et dézoome */
/* line 224, ../sass/client/catalogue.scss */
#commander {
  margin-top: 60px;
  align-items: center;
  margin-left: 438px;
  width: 230px;
  height: 35px;
  background: #197DFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
}

/* line 237, ../sass/client/catalogue.scss */
.contact {
  display: block;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 53px;
  padding: 14px;
}

/* line 247, ../sass/client/catalogue.scss */
.contact h4 {
  font: normal normal 300 25px/40px Avenir;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

/* line 263, ../sass/client/catalogue.scss */
.footer {
  padding: 34px;
}

/* line 267, ../sass/client/catalogue.scss */
.alert {
  outline: none;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  height: 62px;
  font-size: 25px;
}

/* line 277, ../sass/client/catalogue.scss */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  height: 50px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 62px;
}

@media only screen and (max-width: 760px) {
  /* line 305, ../sass/client/catalogue.scss */
  #fluid img {
    width: 400px;
    margin-top: 24px;
  }

  /* line 310, ../sass/client/catalogue.scss */
  .annoce {
    z-index: 2;
    position: absolute;
    width: 480px;
    height: 108px;
    text-align: center;
    font: normal normal normal 58px/70px Avenir;
    font-size: 58px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: -372px;
    font-size: 21px;
    margin-top: -162px;
  }

  /* line 326, ../sass/client/catalogue.scss */
  .gauche img {
    top: 581px;
    margin-left: 64px;
    opacity: 1;
  }

  /* line 332, ../sass/client/catalogue.scss */
  .milieu img {
    margin-left: 69px;
    opacity: 1;
    margin-top: 27px;
  }

  /* line 341, ../sass/client/catalogue.scss */
  .droite {
    width: 322px;
    height: 456px;
    margin-left: 87px;
    opacity: 1;
    margin-top: -76px;
  }

  /* line 349, ../sass/client/catalogue.scss */
  .ensemble2 h5 {
    margin-top: 66px;
    font: normal normal 300 30px/40px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
  }

  /* line 359, ../sass/client/catalogue.scss */
  .ensemble2 p {
    margin-top: 12px;
    height: 50px;
    text-align: center;
    font: normal normal normal 16px/25px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.65;
  }

  /* line 369, ../sass/client/catalogue.scss */
  .filters_menu {
    margin-left: 91px;
    margin-top: 22px;
  }

  /* line 373, ../sass/client/catalogue.scss */
  .row .cards {
    margin-right: 48px;
    margin-left: 43px;
  }

  /* line 377, ../sass/client/catalogue.scss */
  #commander {
    margin-top: 52px;
    align-items: center;
    margin-left: 128px;
    width: 230px;
    height: 35px;
    background: #197DFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
  }
}
/* line 1, ../sass/client/details.scss */
.contenue {
  align-items: center;
  justify-content: center;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  background-color: #ffffff;
  top: 238px;
  /* left: 262px;
width: 808px; */
  height: auto;
  margin-top: 3px;
  margin-left: 184px;
  margin-right: 184px;
  padding: 22px;
}

/* line 26, ../sass/client/details.scss */
.Debuts {
  padding: 3px;
  margin: 10px;
  height: auto;
  background-color: #ffffff;
  border-bottom: 2px solid #D3D3D3;
}

/* line 35, ../sass/client/details.scss */
.Milieux {
  padding: 3px;
  margin: 10px;
  background-color: white;
  height: 250px;
  border-bottom: 2px solid #D3D3D3;
}

/* line 48, ../sass/client/details.scss */
.Fin {
  padding: 3px;
  margin: 10px;
  background-color: white;
  height: auto;
}

/* line 56, ../sass/client/details.scss */
.titres1 {
  top: 152px;
  padding: 19px;
  width: 267px;
  height: 44px;
  margin-left: 155px;
  text-align: left;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
}

/* line 71, ../sass/client/details.scss */
.titres a {
  margin-left: 174px;
  text-align: left;
  color: #197DFF;
  opacity: 1;
}

/* line 78, ../sass/client/details.scss */
.titres {
  padding: 23px;
  margin-top: 2px;
}

/* line 82, ../sass/client/details.scss */
.dets li {
  text-decoration: none;
  list-style: none;
  padding: 4px;
}

/* line 88, ../sass/client/details.scss */
.dets1 {
  color: noir;
}

/* line 91, ../sass/client/details.scss */
.dets1 li {
  list-style: none;
  padding: 4px;
}

/* line 1, ../sass/security/login.scss */
.row.login {
  background-color: #1A1A1A;
  color: white;
}

/* line 8, ../sass/security/login.scss */
.left .connect1 {
  margin-top: 60px;
  height: 68px;
  text-align: center;
  font: normal normal 300 29px/38px Avenir;
  letter-spacing: 0px;
  color: #FF9D19;
  opacity: 1;
}

/* line 19, ../sass/security/login.scss */
.left a {
  padding: 5px;
  font-size: 12px;
  color: #5DA4FF;
  text-decoration: none;
}

/* line 25, ../sass/security/login.scss */
.left a:hover {
  list-style: none;
  color: white;
}

/* line 34, ../sass/security/login.scss */
.login-form-2 .left {
  background-color: #1A1A1A;
}

/* line 44, ../sass/security/login.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 71, ../sass/security/login.scss */
.login-forms {
  align-items: center;
  justify-content: center;
  margin-left: 168px;
}

/* line 76, ../sass/security/login.scss */
.login-main-text {
  margin-top: 25%;
  padding: 60px;
  color: #fff;
}

/* line 83, ../sass/security/login.scss */
.login-main-text h4 {
  top: 528px;
  margin-top: 110px;
  text-align: center;
  font: oblique normal medium 20px/24px Avenir;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

/* line 95, ../sass/security/login.scss */
.login-main-text {
  font-weight: 300;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin-top: -90%;
  text-align: center;
  padding-left: 120px;
}

/* line 105, ../sass/security/login.scss */
.btn-black {
  background-color: #197DFF;
  color: #fff;
}

/* line 111, ../sass/security/login.scss */
.form-group input {
  outline: none;
  border: 2px solid #BEBEBE;
  background: transparent;
  color: white;
  width: 372px;
  height: 45px;
}

/* line 120, ../sass/security/login.scss */
.form-group label {
  outline: none;
  color: white;
}

/* line 125, ../sass/security/login.scss */
.end-lien {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
  color: white;
  font-size: 16px;
  margin-right: 209px;
}

/* line 136, ../sass/security/login.scss */
.inscrisp {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
  color: white;
  font-size: 16px;
  margin-right: 116px;
}

/* line 146, ../sass/security/login.scss */
.end-lien a {
  font-size: 15px;
}

/* line 149, ../sass/security/login.scss */
.end-lien p {
  margin-top: 35px;
  height: 19px;
  text-align: center;
  font: normal normal normal 16px/20px Lato;
  letter-spacing: 0px;
  opacity: 1;
}

/* line 159, ../sass/security/login.scss */
.form-groups {
  margin-bottom: 8px;
  padding-bottom: 15px;
  position: relative;
  width: 561px;
}

/* line 165, ../sass/security/login.scss */
.form-groups input {
  outline: none;
  border: 2px solid #BEBEBE;
  background: transparent;
  color: white;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* line 178, ../sass/security/login.scss */
.telephone input {
  outline: none;
  border: 2px solid #BEBEBE;
  background: transparent;
  color: white;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 213%;
  padding: 10px;
  font-size: 14px;
}

/* line 191, ../sass/security/login.scss */
.form-groups label {
  outline: none;
  color: white;
  display: block;
}

@media only screen and (max-width: 760px) {
  /* line 225, ../sass/security/login.scss */
  .right img {
    width: 100%;
    height: 300px;
  }
}
/* line 1, ../sass/client/panier.scss */
.plus {
  background-color: #FF9D19;
  border-radius: 3px;
  color: white;
  border: 1px solid #FF9D19;
  /* width: 34px; */
  padding: 8px;
  margin-left: 6px;
}

/* line 11, ../sass/client/panier.scss */
a:hover .plus {
  color: white;
}

/* line 15, ../sass/client/panier.scss */
.moins {
  background-color: #FF9D19;
  border-radius: 3px;
  color: white;
  border: 1px solid #FF9D19;
  padding: 8px;
  margin-right: 7px;
}
