@charset "UTF-8";
/* line 2, ../../sass/commande/liste_commande.scss */
.contenu {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  width: 1160px;
  height: auto;
  margin-top: 27px;
}

/* line 15, ../../sass/commande/liste_commande.scss */
.partie1 {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #EAEAEA;
}

/* line 26, ../../sass/commande/liste_commande.scss */
.partie1 ul {
  list-style-type: none;
}

/* line 31, ../../sass/commande/liste_commande.scss */
.partie1 li {
  float: left;
  width: 11%;
  /*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
  /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
/* line 38, ../../sass/commande/liste_commande.scss */
.partie1 ul::after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../../sass/commande/liste_commande.scss */
.partie1 a {
  display: block;
  /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: black;
  padding: 7px 0px;
  /*Agrandit le menu et espace la bordure du texte*/
}

/* line 51, ../../sass/commande/liste_commande.scss */
.partie1 a:hover {
  color: black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}

/* line 56, ../../sass/commande/liste_commande.scss */
.partie2 {
  display: flex;
  background-color: white;
  height: 67px;
  border-bottom: 1px solid #EAEAEA;
}

/* line 64, ../../sass/commande/liste_commande.scss */
.span {
  padding: 21px;
  color: #ACACAC;
  font-size: 14px;
}

/* line 71, ../../sass/commande/liste_commande.scss */
.span p {
  padding-left: 16px;
}

/* line 83, ../../sass/commande/liste_commande.scss */
li.nav-item.dropdown.three {
  list-style: none;
}

/* line 87, ../../sass/commande/liste_commande.scss */
.dropdown, .dropup {
  position: relative;
  list-style: none;
  margin-top: -9px;
  /* margin-right: -4px; */
}

/* line 93, ../../sass/commande/liste_commande.scss */
.titre {
  margin: 2px;
}

/* line 96, ../../sass/commande/liste_commande.scss */
.titre1 {
  text-align: center;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 45px;
  margin-left: -36px;
}

/* line 110, ../../sass/commande/liste_commande.scss */
.titre2 {
  text-align: center;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 45px;
}

/* line 123, ../../sass/commande/liste_commande.scss */
.partie2 .row {
  width: 100%;
}

/* line 127, ../../sass/commande/liste_commande.scss */
.titre2 button {
  background-color: #197DFF;
  color: white;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  font-size: 14px;
}

/* line 139, ../../sass/commande/liste_commande.scss */
.table-hover tbody tr:hover {
  outline: none;
  background-color: transparent;
  border: 2px  solid #FF9D19;
}

/* line 145, ../../sass/commande/liste_commande.scss */
.table-hover .hover {
  background-color: #197DFF;
}

/* line 156, ../../sass/commande/liste_commande.scss */
.pagination .page-item.active .page-link {
  z-index: 1;
  color: #FF9D19;
  background-color: #ffffff;
  border-color: #FF9D19;
}

/* line 163, ../../sass/commande/liste_commande.scss */
.pagination .page-item .page-link {
  color: #FF9D19;
  background-color: #ffffff;
}

/* line 169, ../../sass/commande/liste_commande.scss */
.pagination .page-item.disabled {
  display: none;
}

/* line 173, ../../sass/commande/liste_commande.scss */
.select1 {
  margin-left: 189px;
  margin-top: 21px;
}

/* line 177, ../../sass/commande/liste_commande.scss */
.select1 select {
  outline: none;
  padding: 7px;
}

/* line 184, ../../sass/commande/liste_commande.scss */
.dropleft .dropdown-toggle.affiche::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/* line 195, ../../sass/commande/liste_commande.scss */
.dropleft .affiche::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

/* line 205, ../../sass/commande/liste_commande.scss */
.payer {
  border: 2px solid #197DFF;
  border-radius: 4px;
  margin-left: 24px;
  background-color: #197DFF;
  color: white;
  padding: 9px;
}

/* line 214, ../../sass/commande/liste_commande.scss */
.payer a::before {
  list-style: none;
  color: white;
}
