@charset "UTF-8";
/* line 1, ../../sass/commande/produit.scss */
.contenu1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  height: 150px;
  margin-top: 32px;
}

/* line 14, ../../sass/commande/produit.scss */
.menu_produit {
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #EAEAEA;
}

/* line 27, ../../sass/commande/produit.scss */
.menu_produit ul {
  list-style-type: none;
  margin-bottom: 0;
}

/* line 32, ../../sass/commande/produit.scss */
.menu_produit li {
  float: left;
  width: 8%;
  /*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
  /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
/* line 39, ../../sass/commande/produit.scss */
.menu_produit ul::after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../../sass/commande/produit.scss */
.menu_produit a {
  display: block;
  /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: black;
  padding: 7px 0px;
  /*Agrandit le menu et espace la bordure du texte*/
}

/* line 52, ../../sass/commande/produit.scss */
.menu_produit a:hover {
  color: black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}

/* line 60, ../../sass/commande/produit.scss */
.prod {
  text-align: left;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 40px;
  margin-left: 179px;
}

/* line 72, ../../sass/commande/produit.scss */
.select {
  float: right;
  padding-right: 50px;
  margin-top: -60px;
}

/* line 77, ../../sass/commande/produit.scss */
.select select {
  padding: 6px;
  outline: none;
  border-radius: 3px;
  background: white;
}

/* line 87, ../../sass/commande/produit.scss */
.contenu3 {
  width: 100%;
  padding-right: 100px;
  padding-left: 125px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

/* line 98, ../../sass/commande/produit.scss */
.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 25px;
  padding-left: 69px;
}

/* line 105, ../../sass/commande/produit.scss */
.details .btn {
  margin-left: 147px;
}

/* line 109, ../../sass/commande/produit.scss */
.produit a {
  margin-top: 38px;
  background-color: #197DFF;
  color: white;
  width: 174px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 215px;
}

/* line 119, ../../sass/commande/produit.scss */
.produit button {
  margin-top: 38px;
  background-color: #197DFF;
  color: white;
  width: 174px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 215px;
}

/* line 133, ../../sass/commande/produit.scss */
.cards .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 105px;
  margin-left: 90px;
}

@media (min-width: 1200px) {
  /* line 144, ../../sass/commande/produit.scss */
  .container {
    max-width: 1140px;
  }
}
