/* line 1, ../../sass/commande/tableau_bord.scss */
.taleau {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
}

/* line 7, ../../sass/commande/tableau_bord.scss */
.right {
  background-color: brown;
}

/* line 11, ../../sass/commande/tableau_bord.scss */
.left {
  background-color: burlywood;
}

/* line 14, ../../sass/commande/tableau_bord.scss */
.title h5 {
  text-align: left;
  font: normal normal 300 32px/44px Avenir;
  letter-spacing: 0px;
  color: #383A4D;
  opacity: 1;
  margin-top: 0px;
  /* justify-content: space-evenly; */
  margin-block-start: 40px;
  margin-left: 179px;
}

/* line 26, ../../sass/commande/tableau_bord.scss */
.part1 {
  background-color: #EDEDED;
  height: 142px;
}

/* line 32, ../../sass/commande/tableau_bord.scss */
.part2 {
  background-color: white;
  height: 200px;
}
