


{% extends 'base.html.twig' %}

{% block title %}Les détails{% endblock %}


{% block body %}
{% block gest %}{% endblock  %}
{% block login %}{% endblock %}



<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres">
        <a href="{{ path('catalogue') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS CATALOGUE</a>
        <h6 class="titres1">
            Commandes
        </h6>
    </div>
    <div class="contenue">
        

        
    </div>

    

    



</body>

{% endblock body %}
