{% extends 'base.html.twig' %}

{% block title %}Tableau Bord{% endblock %}






{% block body %}
    {{ parent() }}
    <body>
        <h1>Je suis dans mes commandes (le client)</h1>

        

        
    </body>



{% endblock %}