
.contenu{
    // align-items: center;
    // display: flex;
    // justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    opacity: 1;
    width: 1160px;
    height: auto;
    margin-top:  27px;
}

.partie1{
    width: 100%;
    margin: 0px auto 0px auto;    
    background-color: rgb(255, 255, 255);
    color: black;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid #EAEAEA;

}

.partie1 ul {
    list-style-type: none;
}


.partie1 li{
    float: left;
    width: 11%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
.partie1 ul::after{
    content: "";
    display: table;
    clear: both;
}

.partie1 a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    padding: 7px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

.partie1 a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
}   
.partie2{
    display: flex;
    background-color: white;
    height: 67px;
    border-bottom: 1px solid #EAEAEA;


}
.span{
    padding: 21px;
    color: #ACACAC;
    font-size: 14px;

}

.span p {
    padding-left: 16px;
    
}

// .table{
//     background-color: white;
//     border-bottom: 2px solid #EAEAEA;

// }


li.nav-item.dropdown.three {
    list-style: none;
}

.dropdown, .dropup {
    position: relative;
    list-style: none;
    margin-top: -9px;
    /* margin-right: -4px; */
}
.titre{
    margin: 2px;
}
.titre1{

    text-align: center;
    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    /* justify-content: space-evenly; */
    margin-block-start: 45px;
    margin-left: -36px;

}

.titre2{

    text-align: center;
    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    /* justify-content: space-evenly; */
    margin-block-start: 45px;
    

}
.partie2 .row{
    width: 100%;
}

.titre2 button{
    background-color: #197DFF;
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;

}



.table-hover tbody tr:hover {
    outline: none;
    background-color: transparent;
    border: 2px  solid #FF9D19;

}
.table-hover .hover{
    background-color: #197DFF;
}



// .icone2{
//     background: #505050 0% 0% no-repeat padding-box;
//     opacity: 1;
// }

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #FF9D19;
    background-color: #ffffff;
    border-color: #FF9D19;
}

.pagination .page-item .page-link{
    color: #FF9D19;
    background-color: #ffffff;
    

}
.pagination .page-item.disabled{
    display: none;
}

.select1{
    margin-left: 189px;
    margin-top: 21px;
}
.select1 select{
    outline: none;
    padding: 7px;
}


//menu
.dropleft .dropdown-toggle.affiche::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: none; 
}
.dropleft .affiche::before{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";

}

.payer {
    border: 2px solid #197DFF;
    border-radius: 4px;
    margin-left: 24px;
    background-color: #197DFF;
    color: white;
    padding: 9px;
    
}
.payer a::before{
    list-style: none;
    color: white;
}



