.contenu1{
    // align-items: center;
    // display: flex;
    // justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    opacity: 1;
    // width: 800px;
    height: 150px;
    margin-top:  32px;

}
.menu_produit{
    width: 100%;
    margin: 0px auto 0px auto;    
    background-color: rgb(255, 255, 255);
    color: black;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid #EAEAEA;


}


.menu_produit ul {
list-style-type: none;
margin-bottom: 0;
}

.menu_produit li{
float: left;
width: 11%;/*100% divisé par le nombre d'éléments de menu*/
text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
.menu_produit ul::after{
content: "";
display: table;
clear: both;
}

.menu_produit a{
display: block; /*Toute la surface sera cliquable*/
text-decoration: none;
color: black;
padding: 7px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

.menu_produit a:hover {
color: rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
border-radius: 2px;
}   



.prod{
    text-align: left;
    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    /* justify-content: space-evenly; */
    margin-block-start: 40px;
    margin-left: 179px;

}
.select{
    float: right;
    padding-right: 50px;
    margin-top: -60px;
}
.select select{
    padding: 6px;
    outline: none;
    border-radius: 3px;
    background: white;

}



.contenu3{
    
        width: 100%;
        padding-right: 100px;
        padding-left: 125px;
        margin-right: auto;
        margin-left: auto; 
        margin-top: 35px;
    
}

.col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 69px;
}
.details .btn{
    margin-left: 147px;
}

.produit a {
    margin-top: 38px;
    background-color: #197DFF;
    color: white;
    width: 174px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 215px;
}
.produit button {
    margin-top: 38px;
    background-color: #197DFF;
    color: white;
    width: 174px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    margin-left  : 215px;
}
.produits button {
    margin-top: 38px;
    background-color: #197DFF;
    color: white;
    width: 187px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 215px;   

}
.produits .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #197DFF;
    border-color: #197DFF;
}
.produits .btn-secondary:hover {
    color: #fff;
    background-color: #197DFF;
    border-color: #197DFF;
}




.cards .row  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 105px;
    margin-left: 90px;
}



//ajout produit (burger)


.contenues1{
    // align-items: center;
    // display: flex;
    // justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    opacity: 1;
    width: 667px;
    height: 530px;
    margin-top:  -19px;
    margin-left: 291px;
    margin-right: 291px;
    padding: 22px;
}

//ajout menu

.contenues11{
    // align-items: center;
    // display: flex;
    // justify-content: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    opacity: 1;
    width: 667px;
    height: auto;
    // height: 530px;
    margin-top:  -19px;
    margin-left: 291px;
    margin-right: 291px;
    padding: 22px;
}

.titres11{
    margin: 2px;
    margin-top: 53px;
}
.titres12{

    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    /* justify-content: space-evenly; */
    margin-block-start: 13px;
    margin-left: 295px;

}
.titres13{

    font: normal normal 300 32px/44px Avenir;
    letter-spacing: 0px;
    color: #383A4D;
    opacity: 1;
    margin-top: 0px;
    /* justify-content: space-evenly; */
    margin-block-start: 13px;
    margin-left: 295px;

}
.titres11 a{

    font: normal normal 300 20px/30px Avenir;
    letter-spacing: 0px;
    color: #197DFF;
    opacity: 1;
    margin-top: 0px;
    margin-block-start: 45px;
    margin-left: 289px;

}
.retour1 {

    font: normal normal 300 20px/30px Avenir;
    letter-spacing: 0px;
    color: #197DFF;
    opacity: 1;
    margin-top: 0px;
    margin-block-start: 45px;
    margin-left: 289px;
    padding-left: 119px;

}
// top: 238px;
// left: 262px;
// width: 808px;
// height: 797px;
// background: #FFFFFF 0% 0% no-repeat padding-box;
// border: 1px solid #D3D3D3;
// border-radius: 8px;
// opacity: 1;

.form-groupe{
    margin-bottom: 8px;
    padding-bottom: 15px;
    position: relative;
    width: 613px;
}
.form-groupe ul{
    color: red;
}
.form-groupe input{
    outline: none;
    border: 2px solid #BEBEBE;
    background: transparent;
    // color: white;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;

}


.form-groupe textarea{
    outline: none;
    border: 2px solid #BEBEBE;
    background: transparent;
    // color: white;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;

}

.form-groupe label{
    outline: none;
    color: rgb(0, 0, 0);
    display: block;

}

.boutton_ajout{
    float: right;
   
}
.boutton_ajout a{
    background-color: #197DFF;
    color: white;
    width: 300px;
    height: 32px;
    border-radius: 4px;
    // font-size: 14px;
    margin-left: 215px;
    padding: 7px 0px;
}


@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
