.plus {
    background-color: #FF9D19;
    border-radius: 3px;
    color: white;
    border: 1px solid #FF9D19;
    /* width: 34px; */
    padding: 8px;
    margin-left: 6px;
}

 a:hover .plus{
    color: white;
}

.moins {
    background-color: #FF9D19;
    border-radius: 3px;
    color: white;
    border: 1px solid #FF9D19;
    padding: 8px;
    margin-right: 7px;
}

