


.menu{
    background-color: #1A1A1A;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 56px;
    
}   

.custom-navbar{
    // box-shadow: 10px 10px 10px #eee; 
    // z-index:1;
    background-color: #1A1A1A;
    height: 68px;
}
.nav-link{
    color: #ffffff!important;
}
.nav-item:hover{
    border-bottom: 3px solid #FF9D19;
}



.custom-toggler.navbar-toggler {
    border-color: rgb(247,32,78);
}

.custom-toggler .navbar-toggler-icon{
    width: 18px!important;
}
.custom-toggler:hover{
    border-color: rgb(255,255,255); 
    background-color: #1A1A1A;}


#logo_custom{
    margin-top: -6px;
}




.notification{
    padding: 4px;
    margin-right: 11px;
}

// .identifiant{
//     background-color: #313131;
//     border-radius: 50%;
// }

.connexion{

    background-color: #197DFF;
    border: 2px solid #197DFF;
    border-radius: 4px;
    color: white;
    padding: 9px;
    margin: 6px;
    font: normal normal bold 13px/15px Product Sans;
    letter-spacing: 0px;


    
}
 a:hover.connexion {
    color: white;
    text-decoration: none;

}

.inscription{

    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    padding: 9px;
    margin: 6px;
    font: normal normal bold 13px/15px Product Sans;
    letter-spacing: 0px;


    
}
 a:hover.inscription {
    color: white;
    text-decoration: none;

}


.show{
    display: block;
}

.auth .number{
    position: absolute;
    top: -11px;
    // left: -15px;
    font-size: 15px;
    width: 43px;
    height: 40px;
    // background: #ffffff;
    // border: 2px solid #FF9D19;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.nav-item .paniers{
    margin-left: 23px;
}
// li.nav-item::marker{
//     outline: none;
//     list-style: none;
// }

.deconnexion a{
    background-color: #f76a88;
}



@media only screen and (max-width: 760px) { 
    #logo_custom{
        width: 50%;
    }
    .mobile{
        background-color: #1A1A1A;
    }
    .notification{
        display: none;
    }
    .identifiant{
        margin-left: 336px;
        margin-top: -36px;
    }
    .navbar-nav li{
        padding: 12px;
    }
    .nav-link:hover{
        border-bottom: none;
        border-width: 12px;
    }
    .tableau-bord{
        margin-top: 198px;
    }
    .auth{
        padding: 9px;
    }

    
}
                          