/* line 4, ../../sass/menu/menu.scss */
.menu {
  background-color: #1A1A1A;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 56px;
}

/* line 13, ../../sass/menu/menu.scss */
.custom-navbar {
  background-color: #1A1A1A;
  height: 68px;
}

/* line 19, ../../sass/menu/menu.scss */
.nav-link {
  color: #ffffff !important;
}

/* line 22, ../../sass/menu/menu.scss */
.nav-item:hover {
  border-bottom: 3px solid #FF9D19;
}

/* line 28, ../../sass/menu/menu.scss */
.custom-toggler.navbar-toggler {
  border-color: #f7204e;
}

/* line 32, ../../sass/menu/menu.scss */
.custom-toggler .navbar-toggler-icon {
  width: 18px !important;
}

/* line 35, ../../sass/menu/menu.scss */
.custom-toggler:hover {
  border-color: white;
  background-color: #1A1A1A;
}

/* line 40, ../../sass/menu/menu.scss */
#logo_custom {
  margin-top: -6px;
}

/* line 47, ../../sass/menu/menu.scss */
.notification {
  padding: 4px;
  margin-right: 11px;
}

/* line 57, ../../sass/menu/menu.scss */
.connexion {
  background-color: #197DFF;
  border: 2px solid #197DFF;
  border-radius: 4px;
  color: white;
  padding: 9px;
  margin: 6px;
  font: normal normal bold 13px/15px Product Sans;
  letter-spacing: 0px;
}

/* line 71, ../../sass/menu/menu.scss */
a:hover.connexion {
  color: white;
  text-decoration: none;
}

/* line 77, ../../sass/menu/menu.scss */
.inscription {
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 9px;
  margin: 6px;
  font: normal normal bold 13px/15px Product Sans;
  letter-spacing: 0px;
}

/* line 90, ../../sass/menu/menu.scss */
a:hover.inscription {
  color: white;
  text-decoration: none;
}

/* line 97, ../../sass/menu/menu.scss */
.show {
  display: block;
}

/* line 101, ../../sass/menu/menu.scss */
.auth .number {
  position: absolute;
  top: -11px;
  font-size: 15px;
  width: 43px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* line 118, ../../sass/menu/menu.scss */
.nav-item .paniers {
  margin-left: 23px;
}

/* line 126, ../../sass/menu/menu.scss */
.deconnexion a {
  background-color: #f76a88;
}

@media only screen and (max-width: 760px) {
  /* line 133, ../../sass/menu/menu.scss */
  #logo_custom {
    width: 50%;
  }

  /* line 136, ../../sass/menu/menu.scss */
  .mobile {
    background-color: #1A1A1A;
  }

  /* line 139, ../../sass/menu/menu.scss */
  .notification {
    display: none;
  }

  /* line 142, ../../sass/menu/menu.scss */
  .identifiant {
    margin-left: 336px;
    margin-top: -36px;
  }

  /* line 146, ../../sass/menu/menu.scss */
  .navbar-nav li {
    padding: 12px;
  }

  /* line 149, ../../sass/menu/menu.scss */
  .nav-link:hover {
    border-bottom: none;
    border-width: 12px;
  }

  /* line 153, ../../sass/menu/menu.scss */
  .tableau-bord {
    margin-top: 198px;
  }

  /* line 156, ../../sass/menu/menu.scss */
  .auth {
    padding: 9px;
  }
}
